.main-wrapper {
  width: 100%;
  background-image: url("../../Assets/bg.png");
}
.list-unstyle {
  list-style-type: none;
}
.logoText {
  color: #81212d;
}

.w-full {
  width: 100% !important;
}
.header_heading {
  font-size: 100px;
  color: black;
}
.center {
  display: flex !important;
  flex-direction: column;
}
.hr_custom {
  width: 80%;
  height: 1px !important;
  border: 1px solid #000 !important;
  border-top-width: 1px;
}
.image_height {
  margin-bottom: 11px;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.2s ease-out;
}
.image_height:hover {
  cursor: pointer;
  transform: scale(1.03) !important;
}
.box {
  padding-bottom: 10px;
  border: 2px solid #000000;
  box-shadow: -4px -4px 0px 1px #000000;
  border-radius: 24px;
  /* min-height: 250px !important; */
  width: 100% !important;
  position: relative;
  margin-top: 10px !important;
  text-align: center;
  padding: 5px;
  margin-bottom: 25px !important;
}
.box-2 {
  padding-bottom: 10px;
  margin-top: 25px !important;
  border: 2px solid #000000;
  box-shadow: -4px -4px 0px 1px #000000;
  border-radius: 24px;
  /* min-height: 170px !important; */
  width: 100% !important;
  position: relative;
  text-align: center;
}
.row_card_heading {
  font-size: 22px;
}
.header_content {
  font-family: sans-serif !important;
}
.date {
  margin-top: 10px;
  text-align: left;
  color: "#A9A9A9";
  font-family: sans-serif;
  /* position: absolute;
  bottom: 0; */
}
.row-card-content {
  text-align: left;
  font-size: 30px;
  margin-bottom: 25px;
}
.leftSideRow_wrapper {
  padding-right: 12px !important;
}
@media screen and (max-width: 1199px) {
  .image_height {
    height: 250px !important;
    width: 250px;
  }
  .header_heading {
    font-size: 80px;
    color: black;
  }
  .row-card-content {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  .header_heading {
    font-size: 60px;
    color: black;
  }
  .row-card-content {
    font-size: 18px;
  }
  .image_height {
    height: 190px !important;
    width: 230px;
  }
}
@media screen and (max-width: 767px) {
  .leftSideRow_wrapper {
    padding: 0px !important;
  }
  .header_heading {
    font-size: 50px;
    color: black;
  }
  .image_height {
    height: 300px !important;
    width: 300px !important;
  }
  .row-card-content {
    font-size: 23px;
  }
}
