.main-wrapper {
  width: 100%;
  background-image: url("../../Assets/bg.png");
  position: relative;
  margin: 0;
  padding: 0;
}
.leftMain {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.modal_main {
  position: absolute;
  top: 7%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 5;
}
.overlay {
  position: absolute;
  left: 0;
  width: 100vw;

  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}
.list-unstyle {
  list-style-type: none;
}
.logoText {
  color: #81212d;
}

.w-full {
  width: 100% !important;
}
.header_heading {
  font-size: 100px;
  color: black;
}
.center {
  display: flex !important;
  flex-direction: column;
}
.hr_custom {
  width: 80%;
  height: 1px !important;
  border: 1px solid #000 !important;
  border-top-width: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.alignText {
  text-align: left !important;
  align-self: s;
}

.box {
  border: 2px solid #000000;
  box-shadow: -4px -4px 0px 1px #000000;
  border-radius: 24px;
  /* min-height: 250px !important; */
  width: 100% !important;
  position: relative;
  margin-top: 10px !important;
  text-align: center;
  margin-bottom: 25px !important;
  padding-top: 25px;
  padding-bottom: 10px;
}
.box-2 {
  padding-top: 20px;
  padding-bottom: 10px;

  margin-top: 25px !important;
  border: 2px solid #000000;
  box-shadow: -4px -4px 0px 1px #000000;
  border-radius: 24px;
  /* min-height: 170px !important; */
  width: 100% !important;
  position: relative;
  text-align: center;
}
.row_card_heading {
  font-size: 22px;
}
.header_content {
  font-size: 20px;
  font-family: "Montserrat", sans-serif !important;
  color: black;
  font-weight: 500 !important;
}
.date {
  margin-top: 10px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bold;
  padding: 0px 15px;

  /* position: absolute;
  bottom: 0; */
}
.row-card-content {
  padding: 0px 15px;
  text-align: left;
  font-size: 30px;
  margin-bottom: 25px;
}
.leftSideRow_wrapper {
  padding-right: 12px !important;
}

@media screen and (max-width: 1199px) {
  .header_heading {
    font-size: 80px;
    color: black;
  }
  .row-card-content {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  .header_heading {
    font-size: 60px;
    color: black;
  }
  .row-card-content {
    font-size: 18px;
  }
  .modal_main {
    width: 500px;
  }
}
.headerButton {
  padding: 6px 24px !important;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .modal_main {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
  }
  .mb_0 {
    margin-bottom: 0px !important;
  }
  .alignText {
    text-align: center !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
  }
  .small_font {
    font-size: 18px !important;
  }
  .leftSideRow_wrapper {
    padding: 0px !important;
  }
  .header_heading {
    font-size: 50px;
    color: black;
  }

  .row-card-content {
    font-size: 23px;
  }
}

@media screen and (max-width: 650px) {
  .modal_main {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .modal_main {
    top: 5%;
  }
  .modal_main {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .modal_main {
    width: 300px;
  }
}
