.card_wrapper {
  flex-direction: row !important;
}
.font-bold {
  font-weight: bold !important;
}
@media screen and (max-width: 768px) {
  .card_wrapper {
    flex-direction: column !important;
  }
}
