.about-content {
  font-family: "Montserrat", sans-serif;
  color: black;
  /* font-weight: 500; */
}
.card_description {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 500;
}
.card_image {
  width: 250px;
}
@media screen and (max-width: 768px) {
  .card_image {
    width: 300px !important;
  }
  .monoSpace {
    margin: 0px !important;
  }
}
