.list-unstyle {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.logoText {
  font-family: "JACKPORT_NCV";
  color: #81212d;
  margin-top: 14px;
  letter-spacing: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 2%;
}
.logoSize {
  height: 10ox;
  width: 30px;
}
.nav-button {
  font-family: "JACKPORT_NCV_REGULAR";
  padding: 6px 24px !important;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  letter-spacing: 4px !important;
  font-size: 24px;
  border-color: black;
}
.nav_item {
  margin-right: 20px !important;
  font-family: JACKPORT REGULAR NCV;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.closeIcon {
  padding: 0.1rem 0.15rem;
  padding: 7px;
  height: 30px;
}
.mb-nav {
  display: none;
}

@media screen and (max-width: 992px) {
  .mb-nav {
    display: flex;
  }
}
a:hover {
  color: #81212d !important;
}
button:hover {
  background-color: #81212d;
  color: white;
}
@media screen and (max-width: 380px) {
  .navbar-toggler {
    background-color: white !important;
  }
}
