.modalWrapper {
  height: 500px;
  background-image: url("../../Assets/bg.png");
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
  /* z-index: 450000000000000000000000000000000000000000000000000000000000; */
}
.closeBtn {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
}
.closeModalButton {
  position: absolute;
  top: 3%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}
.cancelImage {
  height: 20px;
  width: 20px;
}

.modalHeading {
  width: 60%;
  text-align: center;
  font-size: 50px;
}
.modal_content {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
}
.rc-slider-mark-text {
  font-size: 25px;
}

@media screen and (max-width: 1400px) {
  .modalHeading {
    text-align: center;
    font-size: 45px;
  }
}
@media screen and (max-width: 1250px) {
  .modalWrapper {
    height: 400px;
  }
  .modalHeading {
    text-align: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) {
  .modalHeading {
    text-align: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 650px) {
  .modalHeading {
    text-align: center;
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .modalWrapper {
    height: 400px;
  }
  .modalHeading {
    text-align: center;
    font-size: 25px;
  }
}
@media screen and (max-width: 390px) {
  .modalHeading {
    text-align: center;
    font-size: 25px;
  }
}
