.sidebar_wrapper {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 20vw;
  z-index: 50;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .sidebar_wrapper {
    width: 40vw;
  }
}
@media screen and (max-width: 500px) {
  .sidebar_wrapper {
    width: 50vw;
  }
}
