.image_height {
  margin-bottom: 11px;
  height: 250px !important;
  /* width: 250px !important; */
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 991px) {
  .image_height {
    height: 200px;
  }
}
