@font-face {
  font-family: "JACKPORT";
  src: local("JACKPORT"), url("./Assets/Fonts/JACKPORT.ttf") format("truetype");
  font-weight: normal;
}
body {
  font-family: "JACKPORT" !important;
  width: 100% !important;
}
.upadteIcon {
  height: 25px !important;
}
